<!DOCTYPE html>
<html lang="en">
    <head>
      <% include stylesheet.ejs %>
      <meta charset="utf-8">
      <title><%= title %></title>
    </head>
    <body>
    <h1><%= header %> </h1>

<form action="/send" method="POST">
  <input type="text" length="140" name="tweet">
  <input type="submit" value="Tweet">
</form>

     <% include chirp.ejs %>


<h2>app source code is in the app.js file and views and public directories.</h2>


    </body>
</html>
